<!-- Old Way: @title = "TextMate 2 - Projects - Ticketee"  -->
<!-- Helper Way:  -->
<% title(@project.name, "Projects")%>

<h2><%=@project.name%></h2>

<%= link_to "Edit Project", edit_project_path(@project) %>



